<div class="main-container">
  <div class="demo-button-container">
    <button mat-raised-button class="demo-button" (click)="back()">
      <mat-icon>arrow_back</mat-icon>Back
    </button>
  </div>
  <div class="mat-elevation-z8 inner-container">
      <form #createForm="ngForm" (ngSubmit)="create(createForm)">
        <div style="display:flex;">
          <label for="name">Name</label>
          <input name="name" id="name" type="text" ngModel />
        </div>
        <div class="form-space"></div>
        <div style="display:flex;">
          <label for="email">Email</label>
          <input name="email" id="email" type="text" ngModel />
        </div>
        <div class="form-space"></div>
        <div style="display:flex;">
          <label for="password">Password</label>
          <input name="password" id="password" type="text" ngModel />
        </div>
        <div class="form-space"></div>
        <div style="display:flex;">
          <label for="role">Role</label>
          <input name="role" id="role" type="text" ngModel />
        </div>
        <div class="form-space"></div>
        <button mat-raised-button class="demo-button" type="submit">
          Save
        </button>
      </form>
    </div>
</div>
