<div class="main-container">
  <div class="demo-button-container">
    <button mat-raised-button class="demo-button" (click)="add()">
      <mat-icon>add</mat-icon>Add
    </button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
    </ng-container>
    <ng-container matColumnDef="ente">
      <th mat-header-cell *matHeaderCellDef>Entity</th>
      <td mat-cell *matCellDef="let element">{{element.ente}}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>
    <ng-container matColumnDef="grouped_by">
      <th mat-header-cell *matHeaderCellDef>Grouped by</th>
      <td mat-cell *matCellDef="let element">{{element.grouped_by}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"><mat-icon (click)="delete(element.id)">delete</mat-icon></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
